.md-header {
    /*background: linear-gradient(180deg, #cc0000 0%, #990000 100%);*/
}
pre {
    background-color: #f5f5f5; /* Light gray background */
    padding: 10px;
    border-radius: 5px;
}
.md-copyright {
    color: #000000de
}
.md-footer a {
    color: #000000de !important;
  }
  .md-footer a:hover {
    color: #000000de !important;
  }